<%
const history = [
  {
    job: 'Graphic Designer',
    company: 'PageBulb',
    term: 'March 2019- August 2024',
    text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr sedia magnaliquya ratsed diam Lorem ipsum dolor sit amconsetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam.Lorem ipsum dolor sit ametconsete tur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diamLorem ipsum dolor consetetur sadipscing elitr sed diam nonumy diam...',
  },
  {
    job: 'UI/UX Designer',
    company: 'UIdeck',
    term: 'March 2019- August 2019',
    text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr sedia magnaliquya ratsed diam Lorem ipsum dolor sit amconsetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam.Lorem ipsum dolor sit ametconsete tur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diamLorem ipsum dolor consetetur sadipscing elitr sed diam nonumy diam...',
  },
  {
    job: 'Web Developer',
    company: 'GrayGrids',
    term: 'June 2018- August 2019',
    text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr sedia magnaliquya ratsed diam Lorem ipsum dolor sit amconsetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam.Lorem ipsum dolor sit ametconsete tur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diamLorem ipsum dolor consetetur sadipscing elitr sed diam nonumy diam...',
  },
];
-%>
<section class="has-background-white-bis" id="section-experience">
  <div class="container">
    <div class="section">
      <p class="subtitle has-text-centered">Experience</p>
      <h2 class="title has-text-centered">Work Experience</h2>
<%- include('../../component/history', {history}); -%>
    </div>
  </div>
</section>
